<?xml version="1.0"?>

<launch>

  <!-- include base functionality -->
  <include file="$(find leo_launcher)/launch/leo_base.launch" />

  <!-- include sim specific functionality -->
  <include file="$(find tennis-description)/launch/leo.launch">
    <arg name="use_steering" value="false" />
  </include>

  <node name="vacuum_sim_node" pkg="leo_sim" type="sim_vacuum.py" ns="leo"></node>

</launch>
