<?xml version="1.0"?>

<launch>
  <arg name="gui" default="true" />
  <arg name="rviz" default="true" />
  <arg name="use_steering" default="true" />
  <arg name="model" default="$(find tennis-description)/urdf/leo.xacro" />
  <arg name="world" default="flat" />
  <arg name="verbose" default="false" />

  <rosparam command="load" file="$(find tennis-description)/config/diff_drive.yaml" ns="leo" />
  <rosparam command="load" file="$(find tennis-description)/config/joints.yaml" ns="leo_joint_state_controller" />

  <node pkg="rviz" name="rviz" type="rviz" args="" />

  <include file="$(find tennis-description)/launch/gazebo.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="model" value="$(arg model)" />
    <arg name="world_name" value="$(find tennis-description)/worlds/$(arg world).world" />
    <arg name="verbose" value="$(arg verbose)" />
  </include>

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="controller_manager" pkg="controller_manager" type="controller_manager" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="leo leo_joint_state_controller" />

  <!-- <node name="controller_manager" pkg="controller_manager" type="controller_manager" output="screen" args="spawn leo leo_joint_state_controller" /> -->

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" if="$(arg use_steering)">
    <param name="default_topic" value="/diff/cmd_vel" />
  </node>
</launch>
