<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="leo">

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>leo</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <updateRate>100</updateRate>
      <leftJoint>left_front</leftJoint>
      <rightJoint>right_front</rightJoint>
      <wheelSeparation>0.33</wheelSeparation>
      <wheelDiameter>0.3</wheelDiameter>
      <wheelAcceleration>false</wheelAcceleration>
      <wheelTorque>50</wheelTorque>
      <commandTopic>diff/cmd_vel</commandTopic>
      <odometryTopic>diff/odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_root</robotBaseFrame>
      <!-- <odometrySource>1</odometrySource> -->
      <publishWheelTF>true</publishWheelTF>
      <publishOdomTF>true</publishOdomTF>
      <publishWheelJointState>true</publishWheelJointState>
    </plugin>
  </gazebo>

  <gazebo reference="base">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <visualize>false</visualize>
      <topic>imu</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>30.0</updateRateHZ>
        <gaussianNoise>0.01</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <xacro:macro name="wheel_gazebo" params="prefix">
    <gazebo reference="${prefix}_wheel_link">
      <material>Gazebo/Grey</material>
      <mu1 value="0.6" />
      <mu2 value="0.6" />
    </gazebo>
  </xacro:macro>


</robot>
