<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="leo">


  <gazebo reference="base">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <robotNamespace>/leo</robotNamespace>
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>30.0</updateRateHZ>
        <gaussianNoise>0.01</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo reference="vacuum_link">
    <material>Gazebo/Red</material>
    <sensor name="vacuum_bumper" type="contact">
      <selfCollide>false</selfCollide>
      <alwaysOn>true</alwaysOn>
      <updateRate>20.0</updateRate>

      <!-- <contact> -->
      <!-- find with gz sdf -p leo.xacro -->
      <!--   <collision>leo/base_root_fixed_joint_lump__vacuum_link_collision_collision_4</collision> -->
      <!-- </contact> -->
      <contact>
        <collision>base_root_fixed_joint_lump__vacuum_link_collision_4</collision>
      </contact>

      <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
        <robotNamespace>leo</robotNamespace>
        <bumperTopicName>vacuum_contacts</bumperTopicName>
        <frameName>world</frameName>
        <alwaysOn>true</alwaysOn>
        <updateRate>20.0</updateRate>
      </plugin>
    </sensor>
  </gazebo>


  <xacro:macro name="wheel_gazebo" params="prefix">
    <gazebo reference="${prefix}_wheel_link">
      <material>Gazebo/DarkGrey</material>
      <mu1 value="0.9" />
      <mu2 value="0.9" />
      <selfCollide>false</selfCollide>
      <!-- <kp value="10000000.0" /> -->
      <!-- <kd value="1" /> -->
    </gazebo>
  </xacro:macro>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/leo</robotNamespace>
    </plugin>
  </gazebo>

</robot>
